
{% load static %}
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;" >

  <div style="font-family: courier, monospace; margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px; justify-content: left;" align="left">
    <font size="4" >
    <p>
<strong>Pricing of real estate apartments (macro factors)</strong></p>
<p>
ALLMYHOMES is the platform for data-based development and
marketing of condominiums located in Berlin, Germany. <a href="https://www.allmyhomes.com/category/uber-uns-en/">
https://www.allmyhomes.com/category/uber-uns-en/ </a>
</p>
<p>
The project represents actual business problems with strategic relevance
for ALLMYHOMES. The findings will support management decisions. We
expect (at least): description of chosen data set, including source
Explicit formulation of hypotheses (assumptions)
Visualization of results (e.g. variable dependencies and trends). Due to the
nature of our business model (real estate projects with long transaction
cycles), we consciously decided not to supply (limited) internal data but
rather let students research and gather relevant and sufficient external
data (publicly available on online real estate portals like
immobilienscout24.de or neubaukompass.de). By “new development” real
estate, we refer to newly constructed projects in Germany built by large
property development companies (Bauträger) with at least 10 apartment
units (excluding e.g. smaller multi-family homes). ALLMYHOMES are
available for questions at any time. Contact: Gaurav Sing (Director
Business Development) & Paul Koeper (Pre-Sales Analyst).
<p>
<strong>
 How are German new development real estate apartments priced,
considering (in relation to) “macro” factors (e.g. environmental attributes)
such as </strong></p>
<ul>
    <li>location (e.g. ZIP code, expensive neighbourhood) </li>
    <li>demographics (e.g. local population structure, income levels)</li>
    <li> infrastructure (e.g. proximity to public transportation, schools,hospitals, playgrounds, restaurants)? </li>


</ul>
<p>
Which of these macro factors (i.e. variables) correlate with each other,
and which (can be isolated to) have the highest impact on price?</p>
<p>Bonus: Based on historical data, is there any trend recognizable that
could predict future (optimal) pricing patterns?</p>

    </p>
    </font>

    <h2>Final Presentation </h2>
<iframe src="{% static 'AnalyticsProject.pdf' %}" style="width:718px; height:700px;" frameborder="0"></iframe>
  </div>
</div>