{% include 'base.html' %}

{% block content %}
    {% load static %}

    <!--<img src="{% static 'img/field.jpg' alt='image of a field at dusk' %}"/>-->
            <div id=article_detail class="container" style="margin-left: 25%">
            <h1 style="margin-top: 100px"> {{ article.title }}</h1>
            <div style="align-content: left;">
                <p>{{article.created_on}}</p>
            </div>
        <div align="center">
       
            {% if article.url %}
                {% with template_name=article.url %}
                    {% include ""|add:template_name %}
                {% endwith %}
            {% else %}
              <div style="font-family: courier, monospace; margin-left: 20px; margin-right: 20px; margin-top: 50px; margin-bottom: 50px; justify-content: left;" align="left">
                    <font size="4" >
                        <p> {{article.content }}</p>
                    </font>
                </div>
            </div>
            {% endif %}


    
        
{% endblock %}

 {% include 'footer.html' %}



