
{% load static %}
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;" >

  <div style="font-family: courier, monospace; margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px; justify-content: left;" align="left">
    <font size="4" >
    <p>
    SKYSSET is a Start Up of advanced volumetric, my job consists in
    administrating a data base of photos, 3D models, and clients,
    developing technology to estimate volumes and surfaces based
    on 3D point clouds. I manipulated pictures to include names of
    materials, ID´s, volume, and any other relevant information so our
    clients understand their current inventory not only with a number
    in Excel but also in a visual and credible way.
    </p>
    </font>
    <img src="https://raw.githubusercontent.com/osmaralg/pictures/master/skysset.jpg" style="width: 100%; height: auto">
    <h3 style="margin-top: 30px;">Demo Video</h3>
<iframe width="100%" height="696" src="https://www.youtube.com/embed/1i3zQoV63wA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </div>
</div>

