
{% load static %}
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px;" >

  <div style="font-family: courier, monospace; margin-left: 100px; margin-right: 100px; margin-top: 50px; margin-bottom: 50px; justify-content: left;" align="left">
    <font size="4" >
    <p>
    In the theory of computational complexity, the decision version of the TSP (where given a length L, the task is to decide whether the graph has a tour of at most L) belongs to the class of NP-complete problems. Thus, it is possible that the worst-case running time for any algorithm for the TSP increases superpolynomially (but no more than <strong>exponentially </strong>) with the number of cities.
    </p>
    </font>
    <h2>Demo Video</h2>
<iframe width="100%" height="538" src="https://www.youtube.com/embed/XZDzWuxjtDs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Final Presentation </h2>
<iframe src="{% static 'PEF.pdf' %}" style="width:718px; height:700px;" frameborder="0"></iframe>
  </div>
</div>

