

{% extends "base.html" %}
{% load static %}


{% block content %}

    {% include "scatter_plot.html" %}
    {% include 'bar_plot.html' %}
    {% include "line_plot.html" %}
  

    <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Exploring optimal control of epidemic spread using reinforcement learning</h3>
            <p>During a pandemic, decisions on interventions must be made to reduce or contain the disease spread, and they must be made fast. Public health officials must determine each following step, from closing schools to setting up whole lockdowns. As much information as possible should be taken into account in these decisions and projections of the current situation into the future must be accurate. This is an over-whelming responsibility, not only morally but also technically, as they need to analyze a large number of scenarios and variables. Setting too loose lockdown rules or no lockdowns at all in particular stages might lead to many people losing their lives; on the other hand, imposing a full lockdown continuously is not a sustainable solution either, as it will have large economical consequences. 
            </br>
            </br>
            In this website, you will find a tool that can support decision makers in making these hard decisions. There is a virtual environment to simulate the movements of the individuals in a closed grid and there is an agent, who is trained using Reinforcement Learning. It will try to predict how a decision maker should behave in this virtual environment to make sure the spread of the disease is reduced and the economic consequences are minimized. 
            </br>  
            </br>          
            Have fun.

            </p>

        </div>
      </div>
    </section><!-- End About Section -->

        <!-- ======= About Section ======= -->
    <section id="environment" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Environment</h2>
            <p>The virtual environment contains a population of 1000 people, in which, 0.7 of them are infectious. 
            </br>
            </br>
            The policy is defined as how strict the lockdown should be. Policy 0 indicates a full lockdown, policy 1 indicates a 75% lockdown and policy 2 indicates a 50% lockdown.
            </br>
            </br>
            The below counter showcases the day, the economic contribution of the population, number of active cases and deaths.The graphs represent the movement of people and their health status throughout 1 month corresponding to the day shown on the counter. </p>
              <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="container facts">
                        <div class="row no-gutters">

                          <div class="col-lg-2 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">

                            <div class="count-box">
                              <i class="icofont-clock-time"></i>
                              <span id="dayCounter" data-toggle="counter-up">1</span>
                              <p><strong>Day</strong> </p>
                            </div>
                          </div>

                          <div class="col-lg-2 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">

                            <div class="count-box">
                              <i class="icofont-hospital"></i>
                              <span id="infectiousCounter" data-toggle="counter-up">0</span>
                              <p><strong>Infectious</strong></p>
                            </div>
                          </div>

                          <div class="col-md-3 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="count-box">
                              <i class="icofont-simple-smile"></i>
                              <span id="rewardCounter" data-toggle="counter-up">0</span>
                              <p><strong>Reward</strong> </p>
                            </div>
                          </div>

                          <div class="col-lg-2 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="count-box">
                              <i class="icofont-skull-danger"></i>
                              <span id="deadsCounter" data-toggle="counter-up">0</span>
                              <p><strong>Deaths</strong></p>
                            </div>
                          </div>

                         <div class="col-lg-2 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="count-box">
                              <i class="icofont-live-support"></i>
                              <span id="policyCounter" data-toggle="counter-up">0</span>
                              <p><strong>Policy</strong></p>
                            </div>
                          </div>


                    </div>
              

                </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin: auto;">
                <button class="button" style="margin: auto; width: 150px; max-width: 150px; min-width: 150px" onclick="goPrevious()">Previous</button>
                <button class="button" style="margin: auto; width: 150px; max-width: 150px; min-width: 150px background-color: red" id="pauseButton" onclick="pauseAnimation()">Pause</button>
                <button class="button" style="margin: auto; width: 150px; max-width: 150px; min-width: 150px" onclick="goNext()">Next</button>
            </div>
            <div class="row">
                <div class="col-md-6">
    
                        <div id="scatterContainer" style="min-height: 400px"></div>
    
            </div>
            <div class="col-md-6">
                
                        <div id="barContainer" style="min-height: 500px"></div>

                 
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <p class="highcharts-description">
                            Figure 1. This graph represents the daily positions of people during the pandemic. Black dots denote the position of the susceptible (exposed) population. The red dots denote the position of the infectious population. We can see how the infection spreads across the region over a month.
                        </p>
                </div>
                <div class="col-md-6">
                        <p class="highcharts-description">
                            Figure 2. This graph represents the daily changes in the health status of the population during the pandemic. We can see the daily new cases of infections ("Infectious") and the daily new deaths ("Dead") throughout the month
                        </p>
                </div>
            </div>

        </div>
      </div>

    </section><!-- End About Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg" >
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Results</h2>
          <p>
            The overall implementation is conducted using Python30, Keras31, and javascript. Results from the trained model are shown below. This represents changes in various metrics over 200 days for 1000 people. 
          </br>
          </br>
          Please note that the newly infected cases are not included in the infectious cases.
        </p> 
        </div>

        <!--
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for category in categories %}
                  <li data-filter=".{{category.name}}">{{ category.name }}</li>
              {% endfor %}
              <li data-filter='.population'>Population</li>
              <li data-filter='.cases'>Active Cases</li>
              <li data-filter='.economy'>Reward</li>
              <li data-filter='.grow'>Grow Rate</li>


            </ul>
          </div>
        </div>
        -->

        <div class="row portfolio-container"  style="min-height: 500px" data-aos="fade-up">

            {% for article in articles %}
              <div class="col-lg-4 col-md-6 portfolio-item {{article.category.name}}">
                <div class="portfolio-wrap">
                  <img src="{{ article.image.url }}" style="overflow: hidden; max-height: 200px; margin-left: auto; margin-right: auto; display: block;" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h6 style="margin-left: 40px;"> {{ article.title }} </h6>
                    <p>{{ article.description }}</p>
                    <div class="portfolio-links">
                       <a href="article_detail/{{ article.pk }}" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
            {% endfor %}

            <div class="col-md-6 portfolio-item cases">
                <figure class="highcharts-figure">
                    <div id="casesContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item population">
                <figure class="highcharts-figure">
                    <div id="populationContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item economy">
                <figure class="highcharts-figure">
                    <div id="economyContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item grow">
                <figure class="highcharts-figure">
                    <div id="deadContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item grow">
                <figure class="highcharts-figure">
                    <div id="policyContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item grow">
                <figure class="highcharts-figure">
                    <div id="newDaylyContainer"></div>
                </figure>
            </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="{% static 'assets/img/team/mahita.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mahita Ajmera</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/mahitaajmera/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team/osmar.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Osmar Alcala</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/osmar-alexander-alcal%C3%A1-garc%C3%ADa-56094a109/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/team/yagmur.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Yagmur Gül</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/yagmurrgul/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team/yi.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Yi Hsiao</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/yi-hsiao/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


    {% include 'footer.html' %}
  </main><!-- End #main -->

    <script type="text/javascript">

        var day = 1;
        var daysData = [];
        var paused = false;
        var totalDays = 100;
        // Enviroment Dashboard
        var scatterPlot = ScatterPlot('State of the Pandemic', 'scatterContainer');
        var barPlot = BarPlot('barContainer')
        // Results Dashboard
        var casesPlot = LinePlot('Infectious', '', 'Count', 'casesContainer');
        var populationPlot = LinePlot('Susceptible', '', 'Count', 'populationContainer');
        var economyPlot = LinePlot('Reward', '', 'Reward Amount', 'economyContainer');
        var deadPlot = LinePlot('Deaths', '', 'Count', 'deadContainer');
        var policyPlot = LinePlot('Policies', '', 'Policy Selected', 'policyContainer');
        var newDaylyPlot = LinePlot('New Daily Cases', '', 'Number', 'newDaylyContainer');



        function updateScatterAndBar(){


            var dayData = daysData[day.toString()]

            scatterPlot.update({
                series: [ 
                {   
                    name: 'Susceptible',
                    color: 'rgba(0,0,0,0.5)',
                    data: dayData["susceptible"].slice()
                },
                {   
                    name: 'Infectious',
                    color: 'rgba(255,0,0,1)',
                    data: dayData["infectious"].slice(),
                    marker: {
                        radius: 4
                    },
                }
                ]
            }, true, false, {
                duration: 0
            });

            function getData(data) {

                var barData = [
                    {
                        name: 'Susceptible',
                        y: data['total_susceptible'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'total_infectious',
                        y: data['total_infectious'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'Healthy',
                        y: data['total_healthy'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'total_dead',
                        y: data['total_dead'],
                        color: 'rgba(1,0,0,0.1)'
                    },]
                return barData

            }

            barPlot.update({
                series: [ {
                    name: 'Susceptible',
                    data: getData(dayData).slice()
                }]
            }, true, false, {
                duration: 800
            });

        } // end of updateScatterAndBar

        function updateCounters(){

            var dayData = daysData[day.toString()]
            document.getElementById("dayCounter").textContent = day;
            document.getElementById("infectiousCounter").textContent = dayData['total_infectious'];
            document.getElementById("rewardCounter").textContent = dayData['reward'];
            document.getElementById("deadsCounter").textContent = dayData['total_dead'];
            document.getElementById("policyCounter").textContent = dayData['action'];

        }

        $.getJSON( "{% static 'data/dynamic_graphs_data.json' %}", function( data ) {
            console.log("scatterData", data)
            daysData = data

            updateScatterAndBar()
            updateCounters()
    
        });

        $.getJSON( "{% static 'data/static_graphs_data.json' %}", 

            function( data ) {

                console.log("line plots data", data)
                casesPlot.update({ 
                        series: [ {
                        name: 'Infectious',
                        data: data['Infectious']
                    }]
                })
                populationPlot.update({ 
                        series: [ {
                        name: 'Susceptible',
                        data: data['Susceptible']
                    }]
                })
                economyPlot.update({ 
                        series: [ {
                        name: 'Reward',
                        data: data['Reward']
                    }]
                })
                deadPlot.update({ 
                        series: [ {
                        name: 'Dead',
                        data: data['Death Cases']
                    }]
                })
                policyPlot.update({ 
                        series: [ {
                        name: 'Policy',
                        data: data['Action']
                    }]
                })
                newDaylyPlot.update({ 
                        series: [ {
                        name: 'New Dayly Cases',
                        data: data['Newly Infected']
                    }]
                })

    
        });




        window.onload = function() {
            // Update the count down every 1 second
            var x = setInterval(function() {

          playNext()

        }, 2000);

        };

        function simulateEnvironment(){
            $.post("{% url 'predict' %}",
              {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                post_type:"split_polygon",
              },

              function(data){
                //console.log(data)

            });
        }
        
        function goNext(){
            if (day + 1 < totalDays ){
                day = Math.min(day + 1, 30)
                updateScatterAndBar()
                updateCounters();

            }
            paused = true;


        }

        function playNext(){
            if (day + 1 < totalDays && !paused){
                day = Math.min(day + 1, 30)
                updateScatterAndBar()
                updateCounters();
            }

        }

        function goPrevious(){
            day = Math.max(day -1, 0);
            updateScatterAndBar();
            updateCounters();
            paused = true;
        }

        function pauseAnimation(){
            if (paused){
                paused = false;
                document.getElementById('pauseButton').innerHTML = 'Pause';
                playNext();
            }
            else{
                paused = true;
                document.getElementById('pauseButton').innerHTML = 'Play';
            }
        }

    </script>

{% endblock %}


