

{% extends "base.html" %}
{% load static %}


{% block content %}

    {% include "scatter_plot.html" %}
    {% include 'bar_plot.html' %}
    {% include "line_plot.html" %}
  

    <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Exploring optimal control of epidemic spread using reinforcement learning</h3>
            <p>Pandemic defnes the global outbreak of a disease having a high transmission rate. The impact of a
                pandemic situation can be lessened by restricting the movement of the mass. However, one of its
                concomitant circumstances is an economic crisis. In this article, we demonstrate what actions an
                agent (trained using reinforcement learning) may take in diferent possible scenarios of a pandemic
                depending on the spread of disease and economic factors. To train the agent, we design a virtual
                pandemic scenario closely related to the present COVID-19 crisis. Then, we apply reinforcement
                learning, a branch of artifcial intelligence, that deals with how an individual (human/machine) should
                interact on an environment (real/virtual) to achieve the cherished goal. 
            </p>

        </div>
      </div>
    </section><!-- End About Section -->

        <!-- ======= About Section ======= -->
    <section id="environment" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Environment</h2>
          <h3>Exploring optimal control of epidemic spread using reinforcement learning</h3>
            <p>The virtual environment contains a population of 10.000 people, in which, 70 (0.7%) of them are infectious. It is is a challenging scenario because the infection is densely spread over the regions. The density of the environment is set to be 0.02. 
            The below counter showcases the day, the economic contribution of the population number of active cases and deaths.The graphs represent the movement of people and their health status throughout 1 month corresponding to the day shown on the counter. </p>
              <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="container facts">
                        <div class="row no-gutters">
                          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">

                            <div class="count-box">
                              <i class="icofont-document-folder"></i>
                              <span id="dayCounter" data-toggle="counter-up">1</span>
                              <p><strong>Day</strong> </p>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">

                            <div class="count-box">
                              <i class="icofont-document-folder"></i>
                              <span id="activeCounter" data-toggle="counter-up">0</span>
                              <p><strong>Active Cases</strong></p>
                            </div>
                          </div>

                          <div class="col-md-3 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="count-box">
                              <i class="icofont-simple-smile"></i>
                              <span id="economyCounter" data-toggle="counter-up">0</span>
                              <p><strong>Economy</strong> </p>
                            </div>
                          </div>

                          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="count-box">
                              <i class="icofont-live-support"></i>
                              <span id="deadsCounter" data-toggle="counter-up">0</span>
                              <p><strong>Deaths</strong></p>
                            </div>
                          </div>


                    </div>
              

                </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <button onclick="goPrevious()">Previous</button>
                <button onclick="pauseAnimation()">Pause</button>
                <button onclick="goNext()">Next</button>

            </div>
            <div class="row">
                <div class="col-md-6">
    
                        <div id="scatterContainer" style="min-height: 400px"></div>
    
            </div>
            <div class="col-md-6">
                
                        <div id="barContainer" style="min-height: 500px"></div>

                 
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <p class="highcharts-description">
                            Figure 1. This graph represents the daily positions of people during the pandemic. Black dots denote the position of the susceptible (exposed) population. The red dots denote the position of the infectious population. We can see how the infection spreads across the region over a month.
                        </p>
                </div>
                <div class="col-md-6">
                        <p class="highcharts-description">
                            Figure 2. This graph represents the daily changes in the health status of the population during the pandemic. We can see the daily new cases of infections ("Infectious") and the daily new deaths ("Dead") throughout the month
                        </p>
                </div>
            </div>

        </div>
      </div>

    </section><!-- End About Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg" >
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Results</h2>
          <p>
            The overall implementation is conducted using Python30, Keras31, and TensorFlow32. MatPlotLib33 is used for
            graphical representations. The experiments are conducted in a virtual environment implemented on a quadratic
            time complexity based algorithm, which is provided in "Supplementary file 1". We experiment with a
            limited population of 10.000 people and a default daily movement of 15 steps. In this section, we first evaluate
            the virtual environment by comparing it with the ODE model. Then we compare the agent’s performance based
            on diferent memory lengths and try to resonate an optimal agent. Further, we explore the decisions and exploit
            the strategy behind the agent’s decision.
        </p> 
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for category in categories %}
                  <li data-filter=".{{category.name}}">{{ category.name }}</li>
              {% endfor %}
              <li data-filter='.population'>Population</li>
              <li data-filter='.cases'>Active Cases</li>
              <li data-filter='.economy'>Economy</li>
              <li data-filter='.grow'>Grow Rate</li>


            </ul>
          </div>
        </div>

        <div class="row portfolio-container"  style="min-height: 500px" data-aos="fade-up">

            {% for article in articles %}
              <div class="col-lg-4 col-md-6 portfolio-item {{article.category.name}}">
                <div class="portfolio-wrap">
                  <img src="{{ article.image.url }}" style="overflow: hidden; max-height: 200px; margin-left: auto; margin-right: auto; display: block;" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h6 style="margin-left: 40px;"> {{ article.title }} </h6>
                    <p>{{ article.description }}</p>
                    <div class="portfolio-links">
                       <a href="article_detail/{{ article.pk }}" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
            {% endfor %}

            <div class="col-md-6 portfolio-item cases">
                <figure class="highcharts-figure">
                    <div id="casesContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item population">
                <figure class="highcharts-figure">
                    <div id="populationContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item economy">
                <figure class="highcharts-figure">
                    <div id="economyContainer"></div>
                </figure>
            </div>

            <div class="col-md-6 portfolio-item grow">
                <figure class="highcharts-figure">
                    <div id="deadContainer"></div>
                </figure>
            </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="{% static 'assets/img/team/mahita.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mahita Ajmera</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/mahitaajmera/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team/osmar.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Osmar Alcala</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/osmar-alexander-alcal%C3%A1-garc%C3%ADa-56094a109/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/team/yagmur.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Yagmur Gül</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/yagmurrgul/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team/yi.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Yi Hsiao</h4>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/yi-hsiao/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

    <script type="text/javascript">

        var day = 1;
        var daysData = [];
        var paused = false;
        // Enviroment Dashboard
        var scatterPlot = ScatterPlot('State of the Pandemic', 'scatterContainer');
        var barPlot = BarPlot('barContainer')
        // Results Dashboard
        var casesPlot = LinePlot('Active Cases', '', 'Count', 'casesContainer');
        var populationPlot = LinePlot('Susceptible', '', 'Count', 'populationContainer');
        var economyPlot = LinePlot('Economy', '', 'yaxistitle', 'economyContainer');
        var deadPlot = LinePlot('Deaths', '', 'Count', 'deadContainer');

        function updateScatterAndBar(){

            console.log("update-------------------", day.toString() )

            console.log("daysData", daysData)
            var dayData = daysData[day.toString()]

            console.log("daydata", dayData)

            scatterPlot.update({
                series: [ 
                {   
                    name: 'Susceptible',
                    color: 'rgba(0,0,0,0.5)',
                    data: dayData["susceptible"].slice()
                },
                {   
                    name: 'Infectious',
                    color: 'rgba(255,0,0,1)',
                    data: dayData["infectious"].slice(),
                    marker: {
                        radius: 4
                    },
                }
                ]
            }, true, false, {
                duration: 0
            });

            function getData(data) {

                var barData = [
                    {
                        name: 'Susceptible',
                        y: data['total_susceptible'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'total_infectious',
                        y: data['total_infectious'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'Healthy',
                        y: data['total_healthy'],
                        color: 'rgba(1,0,0,0.1)'
                    },
                    {
                        name: 'total_dead',
                        y: data['total_dead'],
                        color: 'rgba(1,0,0,0.1)'
                    },]
                return barData

            }

            barPlot.update({
                series: [ {
                    name: 'Susceptible',
                    data: getData(dayData).slice()
                }]
            }, true, false, {
                duration: 800
            });

        } // end of updateScatterAndBar

        function updateCounters(){

            var dayData = daysData[day.toString()]

            document.getElementById("dayCounter").textContent = day;
            document.getElementById("activeCounter").textContent = dayData['total_susceptible'];
            document.getElementById("economyCounter").textContent = dayData['total_healthy'];
            document.getElementById("deadsCounter").textContent = dayData['total_dead'];
        }

        $.getJSON( "{% static 'data/dynamic_graphs_data.json' %}", function( data ) {
            console.log("scatterData", data)
            daysData = data

            updateScatterAndBar()
            updateCounters()
    
        });

        $.getJSON( "{% static 'data/static_graphs_data.json' %}", 

            function( data ) {


            casesPlot.update({ 
                    series: [ {
                    name: 'Active Cases',
                    data: data['Active Cases']
                }]
            })
            populationPlot.update({ 
                    series: [ {
                    name: 'Susceptible',
                    data: data['Susceptible']
                }]
            })
            economyPlot.update({ 
                    series: [ {
                    name: 'Economy',
                    data: data['Economy']
                }]
            })
            deadPlot.update({ 
                    series: [ {
                    name: 'Dead',
                    data: data['Death Cases']
                }]
            })
    
        });


        // Update the count down every 1 second
        var x = setInterval(function() {

          goNext()

        }, 2000);

        function simulateEnvironment(){
            $.post("{% url 'predict' %}",
              {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                post_type:"split_polygon",
              },

              function(data){
                console.log(data)

            });
        }
        
        function goNext(){
            if (day + 1 < 30 && !paused){
                day = Math.min(day + 1, 30)
                updateScatterAndBar()
                updateCounters();
            }

        }

        function goPrevious(){
            day = Math.max(day -1, 0);
            updateScatterAndBar();
            updateCounters();
        }

        function pauseAnimation(){
            if (paused){
                paused = false;
            }
            else{
                paused = true;
            }
        }

    </script>

{% endblock %}


